table {
    text-align: center;
    margin-bottom: 20px;
}

.friend_image {
    width: 80px;
}

.friend_search_form {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 33%;
    align-items: center;
}

a[href="/friends"] {
    color: #b4aebb;
    cursor: default;
    pointer-events: none;
}