.profile_info {
	margin-left: 25%;
	margin-top: 50px;
	display:flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
}

.profile_data {
	list-style-type: none;
}

.profile_image {
	width:100px;
}
.modify_profile{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a[href^="/profile/user"]{
    color: #b4aebb;
    cursor: default;
    pointer-events: none;
}