@font-face {
    font-family: GloriaHallelujah;
    src: url("../fonts/GloriaHallelujah.ttf");
}

#app-image {
    margin: 0 33%;
    width: 33%;
    height: auto;
}

body {
    margin: 0;
}

.header {
    background: url("../img/header-background.png");
    background-size: cover;
}

.body-content {
    background: url("../img/body-background.png");
    height: 75%;
    width: 100%;
    position: absolute;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FF00B3;
}

.options-user {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    font-family: GloriaHallelujah;
    color: white;
}

.options-user a {
    margin: 0.5%;
}

.content {
    margin-top: 5%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#section-message {
    text-align: center;
    font-size: xx-large;
    font-family: GloriaHallelujah;
}

.section-box {
    background-color: #d582e0;
    border-radius: 15px;
    padding: 2% 4%;
}

#section-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.submit {
    margin-top: 2%;
    background-color: #AA68B3;
    color: white;
    font-size: x-large;
    font-family: GloriaHallelujah;
}

.submit:hover {
    background-color: #FF00B3;
}