<html lang="es">

<head>
    <title>Preguntas: FaceBluff</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/css/style-questions.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
    <div class="header">
        <img id="app-image" src="/img/logo.png" alt="FaceBluff-logo">
        <div class="options-user">
            <a href="/profile/user/<%=loguedUser.email%>"> Perfil</a>
            <a href="/friends"> Amigos </a>
            <a href="/questions"> Preguntas </a>
            <a href="/desconectar"> Desconectar </a>
            <span> <%= loguedUser.puntos %> puntos</span>
        </div>
    </div>
    <div class="body-content">
        <div class="section-message">Preguntas seleccionadas aleatoriamente</div>
        <div class="generic_table">
            <%if(resultado){%>
                <% if (resultado.length == 0) {%>
                    <span>No te quedan preguntas por responder. ¡Crea una nueva!</span>
                    <%} %>
                        <% resultado.forEach(elem => {%>
                            <a class="question" href="/questions/<%=elem.id%>">
                                <%=elem.texto%>
                            </a>
                            <% });%>
                                <%}%>
        </div>
        <div class="section-message">¡Añade tus preguntas!</div>
        <div class="generic_table">
            <form action="addQuestion" method="get">
                <input type="submit" class="submit" value="Crear nueva pregunta" />
            </form>
        </div>
    </div>
</body>

</html>