<html lang="es">

<head>
    <title>Bienvenido: FaceBluff</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/css/style-index.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
    <div class="header">
        <img id="app-image" src="/img/logo.png" alt="FaceBluff-logo">
        <div class="options-user">
            <a href="index.html"> Entrar</a>
            <a href="registro.html"> Registrarse </a>
        </div>
    </div>
    <div class="body-content">
        <div class="content">
            <div class="section-message">Entrar</div>
            <div class="section-box">
                <form action="/procesar_login.html" method="post" id="section-form">
                    <table>
                        <tr>
                            <td><label for="email">Email:</label></td>
                            <td><input type="text" name="email"></td>
                        </tr>
                        <tr>
                            <td><label for="password">Contraseña:</label></td>
                            <td><input type="password" name="password"></td>
                        </tr>
                    </table>
                    <input class="submit" type="submit" value="Conectar">
                </form>
            </div>
        </div>
    </div>
</body>

</html>