<html lang="es">

<head>
    <title>Nuevo usuario: FaceBluff</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/css/style-register.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
    <div class="header">
        <img id="app-image" src="/img/logo.png" alt="FaceBluff-logo">
        <div class="options-user">
            <a href="index.html"> Entrar</a>
            <a href="registro.html"> Registrarse </a>
        </div>
    </div>
    <div class="body-content">
        <div class="content">
            <div class="section-message">Registro</div>
            <div class="section-box">
                <form action="procesar_registro.html" method="post" id="section-form">
                    <table>
                        <tr>
                            <td><label for="email">Email:</label></td>
                            <td><input type="text" name="email"></td>
                        </tr>
                        <tr>
                            <td><label for="password">Contraseña:</label></td>
                            <td><input type="password" name="password"></td>
                        </tr>
                        <tr>
                            <td><label for="complete_name">Nombre completo:</label></td>
                            <td><input type="text" name="complete_name"></td>
                        </tr>
                        <tr>
                            <td><label for="genre">Sexo:</label></td>
                            <td>
                                <input type="radio" name="genre" value="man">Hombre
                                <input type="radio" name="genre" value="woman">Mujer
                                <input type="radio" name="genre" value="other">Otro
                            </td>
                        </tr>
                        <tr>
                            <td><label for="birth_date">Fecha nacimiento:</label></td>
                            <td><input type="text" name="birth_date" placeholder="dd/mm/aaaa"></td>
                        </tr>
                        <tr>
                            <td><label for="profile_image">Imagen de perfil:</label></td>
                            <td><input type="file" name="profile_image"></td>
                        </tr>

                    </table>
                    <input class="submit" type="submit" value="Registrarse">
                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>