.navbar-home {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    margin: auto;
    width: 50%;
}

#homeDiv {
    margin: 100px auto;
}

#cards_image {
    display: none;
}

.container {
    display: none;
}

#logued_user {
    margin-left: 75%;
}

.games_inputs {
    margin-bottom: 20px;
}

games_buttons {
    color: red;
}

.game_view {
    margin: 10%;
    display: none;
}