.navbar-home {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    margin: auto;
    width: 50%;
}

#homeDiv>.container {
    margin: 100px auto;
}

body>div {
    display: none;
}

#logout {
    display: none;
}

#logued_user {
    margin-left: 75%;
}

.games_inputs {
    margin-bottom: 20px;
}

#logout {
    position: fixed;
    right: 10px;
    top: 7px;
}

.games_buttons {
    color: red;
}

#game_view {
    margin: 15px;
}

.single_game {
    margin-bottom: 20px;
}

.detail_button {
    margin-left: 40px;
}