.navbar-home {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    margin: auto;
    width: 50%;
}

#homeDiv>.container {
    margin: 100px auto;
}

body>div {
    display: none;
}

#logued_user {
    margin-left: 75%;
}

.games_inputs {
    margin-bottom: 20px;
}

#logout {
    display: none;
    position: fixed;
    right: 10px;
    top: 7px;
}

.games_buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

#game_view {
    margin: 15px;
}

.single_game {
    margin-bottom: 20px;
}

.detail_button {
    margin-left: 40px;
}

.single_game_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#cards_display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin: 3%;
    flex-wrap: wrap;
}

#board_game_view {
    text-align: center;
}

.game_title_info {
    text-align: center;
    margin-top: 50px;
}

#player_cards {
    flex-grow: 2;
}

.selected_card {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}